
<div class="container">
  <div class="lotname">
    {{#unless isAdding}}
      <h2>Click on a Department to add your products:</h2>

      <br>
      {{#each}}
        <ul class="list-group gallery-view-sm">
          <li class="list-group-item"><p>{{#link-to 'lot' this.id}} <img {{bind-attr src = lotphoto}}  width="164"> {{title}}{{/link-to}}</p>
          <button class="btn btn-xs btn-danger" {{action 'delete' this}}>Delete</button></li>
        </ul>
      {{/each}}
      <h2 {{action "adding"}}>Don't see the department you need?  Add a department here</h2>

    {{/unless}}
  </div>
    {{#if isAdding}}
      <h2>Create a Department:</h2>
      <br>
      <form class="form">
        <div class="form-group">
          <label for="title">Department Title:</label>
          {{input name="title" value=title type="text" placeholder="Title"}}
        </div>
        <div class="form-group">
          <label for="date">Date of creation:</label>
          {{input name="date" value=date type="date"}}
        </div>
        <div class="form-group">
          <label for="lotphoto">Upload Department Photo</label>
          {{input name="lotphoto" value=lotphoto type="url" placeholder="https://......"}}
        </div>
        <button class="btn btn-default" {{action 'save'}}>Submit</button>
      </form>
    {{/if}}
</div>
