<div class="container lotname">
  {{#if this.products.length}}
    <ul class="list-group">
      <li class="list-group-item"><img {{bind-attr src = lotphoto}} height="40%" width="40%"> {{title}} {{date}}</li>
      <h3>Products currently in the {{title}} Department:</h3>
    </ul>
      {{#each item in products}}
        <ul class="list-group gallery-view-sm">
          <li class="list-group-item">
          {{#link-to 'viewproduct' item.id}} <img {{bind-attr src = item.photo}} width="164"> {{item.name}} {{item.owner}} {{item.bidNumber}} {{item.startPrice}}{{/link-to}}
          </li>
        </ul>
      {{/each}}
    {{outlet}}
    {{else}}
    <h3>There are not products in this department yet!</h3>
  {{/if}}
</div>
